.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  a {
    color: #757575;
    transition: color 0.2s ease;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }

  .site-title {
    font-size: 20px;
    font-weight: 500;
  }

  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.nav {
  ul {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      text-transform: uppercase;
      font-size: 12px;

      & + li {
        margin-left: 20px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    ul {
      margin-top: 20px;
    }
  }
}
