
body {
  background: #eeeeee;
  margin: 0;
  overflow-y: scroll;

  * {
    // border: 1px solid red;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  }
}

h1, h2 {
  color: #333333;
  font-weight: 100;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

p {
  line-height: 30px;
}

main {
  ul {
    padding-inline-start: 12px;
  }

  li {
    list-style: none;
    margin-bottom: 12px;
  }
}

img {
  border-radius: 5px;
  border: 1px solid #666666;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

a {
  color: #0057ad;
  text-decoration: none;
}

.layout-container {
  background: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 30px 50px 100px;
}

.error-404 {
  text-align: center;

  .text-404 {
    font-size: 30px;
    color: #999999;
    font-weight: bold;
  }
}


.section {
  display: flex;
  margin-bottom: 40px;

  a {
    display: block;
  }

  .box-div {
    margin-right: 20px;
    min-width: 200px;
    max-width: 200px;

    h2 {
      margin-top: 0;
      margin-bottom: 12px;
    }
  }

  .gallery-div {
    padding: 0;
    margin: 0;
  }

  .gallery-item {
    display: flex;
    margin-bottom: 24px;

    img {
      display: inline-block;
    }

    .item-title {
      display: block;
      font-size: 20px;
      font-weight: 500;
      margin: 10px 20px 0;
    }

    .item-description {
      display: block;
      color: #757575;
      margin: 20px;
      line-height: 28px;
    }
  }
}

.date {
  color: #666666;
  display: block;
  font-size: 12px;
  margin: 6px 20px;
}
